/*Top Section Styles*/

body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

header{
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: inherit;
    color: #E5E7EB;
    font-size: 16px;
    
}

ul{
    list-style: none;
    display: flex;
    gap: 24px;
}

.blue-background{
    background-color: #1F2937;
    padding: 20px;
}

header > img{
    height: 50px;
    width: 70px;
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

p{
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
}

.top-section{
    display: flex;
    justify-content: space-around;
}

.left-side > button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 20px;
    border-radius: 8px;
}

/* White Section Styles */ 

h2{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
}

.images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photos{
    width: 200px;
    height: 200px;
    display: flex;
    flex: 0 0 100%;
}

.one > .text{
    font-size: 14px;
    color: grey;
}

.two > .text{
    font-size: 14px;
    color: grey;
}

.three > .text{
    font-size: 14px;
    color: grey;
}

.four > .text{
    font-size: 14px;
    color: grey;
}

.one, 
.two, 
.three, 
.four {
    margin: 30px;
}

/*Gray Section Styles*/ 

.gray-section{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
    width: 900px;
}

/* Blue Section Styles */

.blue-section{
    background-color: #3882F6;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    margin-top: 50px;
    flex-wrap: nowrap;
    border-radius: 8px;
    padding: 20px;
    color: white;
    margin-bottom: 50px;
}

.blue-section > button{
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

/* Footer Styles*/

.footer{
    background-color: #1F2937;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
}